@font-face {
  font-family: 'iconfont';
  /* project id 720036 */
  src: url('//at.alicdn.com/t/font_720036_8giyqza2edc.eot');
  src: url('//at.alicdn.com/t/font_720036_8giyqza2edc.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_720036_8giyqza2edc.woff') format('woff'), url('//at.alicdn.com/t/font_720036_8giyqza2edc.ttf') format('truetype'), url('//at.alicdn.com/t/font_720036_8giyqza2edc.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanzhu:before {
  content: "\e886";
}

.icon-baojing:before {
  content: "\e68a";
}

.icon-xinxi:before {
  content: "\e672";
}

.icon-jiankang:before {
  content: "\e60c";
}

.icon-renwu:before {
  content: "\e606";
}

.icon-jiuyuan:before {
  content: "\e62b";
}

.icon-anzhuang:before {
  content: "\e6c3";
}

.icon-xiuli:before {
  content: "\e618";
}

.icon-nianjian:before {
  content: "\e611";
}

.icon-baoyang:before {
  content: "\e69e";
}

.icon-choujian:before {
  content: "\e60f";
}
